<html>
    <head>
        <script src="/static/jquery-3.2.1.min.js"></script>

        <script src="/static/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link href="/static/sticky-footer.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.js"></script>
        <link href ="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.js"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.themes.css">       
    </head>
    <style>

 
</style>
    <body>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Yelp 0.5</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="https://yelp-retrieval-1.herokuapp.com/pt/">V1</a></li>
            <li><a href="https://yelp-retrieval-2.herokuapp.com/pt/">V2 <span class="sr-only">(current)</span></a></li>
            <li class='active'><a href="https://yelp-retrieval.herokuapp.com/pt/">Final</a></li>
          </ul>
          </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>
        
        <form class="form-inline global-search" method='GET' id="search">
            <div id = 'banner'>
            <h1 style="font-size: 75px; font-family:Futura; color: #FFFFFF; ">
               YELP 0.5
            </h1>
            </div>
            
            <br><br>
            
            <div class="form-group">
                <!-- City your favorite restaurant is in:
                <select id="home" type="select" name="home" class="form-control">
                {% for opt in home_cities %}
                    <option value="{{opt}}">{{opt}}</option>
                {% endfor %}
                </select> -->
                <!-- mODIFIED -->
                <input id="input" type="text" name="search" class="form-control" placeholder="Favorite Restaurant">
<!--                 <input id="input" type="text" name="query_submit" class="form-control" placeholder="Favorite Restaurant"> -->
                <br>
                <select id="destination" type="select" name="dest" class="form-control">
                <option selected="selected">Please select a destination</option>
                {% for opt in dest_cities %}
                    <option value="{{opt}}">{{opt}}</option>
                {% endfor %}
                </select>
            </div>


        <div class="form-inline global-search">

            <!-- save previous search values -->
            <input type="hidden" id="savedInput" name="savedInput" value="{{query}}">
             <input type="hidden" id="savedMatch" name="savedMatch" value="{{best_match}}">
            <input type="hidden" id="savedDest" name="savedDest" value="{{dest}}">
          <!--   <input type="hidden" id="savedOrigin" name="savedOrigin" value="{{origin}}"> -->

            <div class="search" id="match_info"><h4>You searched for:</h4> {{query}}</div><br>

            <!-- Display categories -->
            <div class="search" id="categories_info"><h4>Filter further by category</h4><br>
            {% for opt in categories %}
                <input type="checkbox" class = "categories" name="categories" id="categories" value="{{opt}}" /> {{opt}} <br/>
            {% endfor %}<br><br>
            </div>

            <div id="go"><button type="submit" class="btn btn-info"> Go! </button></div><br><br>



            <!-- Display restaurant esults  -->
            {% for jsonObj in output %}
                {{jsonObj}}
            {% endfor %}<br><br>

            </form>

           
            <div class="pagination">
                <div id="pages">
                <span class="step-links">
                    {% if output.has_previous %}
                    <a href= "{{magic_url}}&page={{ output.previous_page_number }}">previous</a>
                    {% endif %}
                    
                    <!-- Showing the page numbers in Html Page -->
                 
                    <span class="current">
                    Page {{ output.number }} of {{ output.paginator.num_pages }}
                    </span>

                    
                    {% if output.has_next %}
                    <a href= "{{magic_url}}&page={{ output.next_page_number }}">next</a>
                    {% endif %}


                </span>
                </div>
            </div>
        </div>

        <script type="text/javascript"> 
        //Display saved results from previous search
        
        var savedInput = document.getElementById("savedInput").value;
        document.getElementById('input').value = savedInput
        // var savedMatch = document.getElementById("savedMatch").value;
        // document.getElementById('input').value = savedMatch;
        var savedDest = document.getElementById("savedDest").value;
        document.getElementById('destination').value = savedDest;
        
        // var savedOrigin= document.getElementById("savedOrigin").value;
        // document.getElementById('home').value = savedOrigin


        var data = JSON.parse('{{ auto_json | escapejs }}');
        var options = {
            data: data,

            getValue: "name",

            list: {
                match: {
                    enabled: true
                }
            },
            // theme: "square"
            theme: "Plate dark"
        };

        $("#input").easyAutocomplete(options);


        $(document).ready(function() {
            if ( $('#savedInput').val() == "" )
                $("#match_info").hide();

            if ( $("[name='categories']").length == 0)
                $("#categories_info").hide();

        });

        


        function verify_exists(query){
            console.log(query);
            for (var i = 0, len = data.length; i < len; i++) {
                if (data[i].name == query){
                    $("#go").attr("disabled", false);
                }
            }
            $("#go").attr("disabled", true);
        }
        $("#input").change(verify_exists($('#input').val()));


        // $("#input").change(function() {
        //     $("#go").attr("disabled", true);
        //     var query = $('#input').val();
        //     if (verify_exists(query)){
        //         $("#go").attr("disabled", false);
        //     }
        //     else{
        //         alert("Please select a restaurant from the suggestings")
        //         $("#go").attr("disabled", true);
        //     }
        // });


        </script> 

        <footer class="footer">
          <div class="container">
            <p class="text-muted">Made by Kyle Albany (kja56), Andrew Bales (apb224), and James Mackey (jjm447).</p>
          </div>
        </footer>
    </body>
</html>