<html>
    <head>
        <script src="/static/jquery-3.2.1.min.js"></script>
        <script src="/static/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link href="/static/sticky-footer.css" rel="stylesheet">
    </head>
    
    <body>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Yelp 0.9</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="https://yelp-retrieval-1.herokuapp.com/pt/">V1</a></li>
            <li class="active"><a href="#">V2 <span class="sr-only">(current)</span></a></li>
            <li><a href="https://yelp-retrieval.herokuapp.com/pt/">Final</a></li>
          </ul>
          </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>
        
        <form class="form-inline global-search" method='GET' id="search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
               YELP 0.9
            </h1>
            
            <br><br>
            
            <div class="form-group">
                City your favorite restaurant is in:
                <select id="home" type="select" name="home" class="form-control">
                {% for opt in home_cities %}
                    <option value="{{opt}}">{{opt}}</option>
                {% endfor %}
                </select>
                <input id="input" type="text" name="search" class="form-control" placeholder="Favorite Restaurant">
                <br>City you're looking for a restaurant in:
                <select id="destination" type="select" name="dest" class="form-control">
                {% for opt in dest_cities %}
                    <option value="{{opt}}">{{opt}}</option>
                {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>

        <div class="form-inline global-search">
            <h4>Output</h4><br><br>

            <!-- save previous search values -->
            <input type="hidden" id="savedInput" name="savedInput" value="{{query}}">
             <input type="hidden" id="savedMatch" name="savedMatch" value="{{best_match}}">
            <input type="hidden" id="savedDest" name="savedDest" value="{{dest}}">
            <input type="hidden" id="savedOrigin" name="savedOrigin" value="{{origin}}">

            <h4> You searched for: {{query}}<br> Best match was {{best_match}} </h4>

            <!-- Display categories -->
            <legend>Filter further by category</legend>
            {% for opt in categories %}
                <input type="checkbox" class = "categories" name="categories" id="categories" value="{{opt}}" /> {{opt}} <br/>
            {% endfor %}


            <!-- Display restaurant esults  -->
            {% for jsonObj in output %}
                {{jsonObj}}
            {% endfor %}

            </form>

           
            <div class="pagination">
                <span class="step-links">
                    {% if output.has_previous %}
                    <a href= "{{magic_url}}&page={{ output.previous_page_number }}">previous</a>
                    {% endif %}
                    
                    <!-- Showing the page numbers in Html Page -->
                    <span class="current">
                    Page _{{ output.number }}_ of _{{ output.paginator.num_pages }}_
                    </span>
                    
                    {% if output.has_next %}
                    <a href= "{{magic_url}}&page={{ output.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>

        <script type="text/javascript"> 
        //Display saved results from previous search
        
        // var savedInput = document.getElementById("savedInput").value;
        // document.getElementById('input').value = savedInput
        var savedMatch = document.getElementById("savedMatch").value;
        document.getElementById('input').value = savedMatch;
        var savedDest = document.getElementById("savedDest").value;
        document.getElementById('destination').value = savedDest;
        var savedOrigin= document.getElementById("savedOrigin").value;
        document.getElementById('home').value = savedOrigin
        </script> 

        <footer class="footer">
          <div class="container">
            <p class="text-muted">Made by Kyle Albany (kja56), Andrew Bales (apb224), and James Mackey (jjm447).</p>
          </div>
        </footer>
    </body>
</html>